.register-page{
    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:30px 20px;

    box-sizing:border-box;

    background:
        radial-gradient(
            circle at 50% 35%,
            rgba(255,43,130,.12),
            transparent 35%
        ),
        #050507;

    color:white;
}


.register-box{
    width:100%;
    max-width:430px;

    padding:40px;

    box-sizing:border-box;

    background:#0d0d12;

    border:1px solid #272731;

    border-radius:20px;

    box-shadow:
        0 25px 70px rgba(0,0,0,.55),
        0 0 50px rgba(255,43,130,.05);
}


/* LOGO */

.register-logo{
    margin-bottom:30px;

    font-size:23px;
    font-weight:700;

    letter-spacing:-.5px;
}

.register-logo span{
    color:#ff2b82;
}


/* TITLE */

.register-title{
    margin:0;

    font-size:32px;

    letter-spacing:-1px;
    color: #ff2b82;
}

.register-subtitle{
    margin:10px 0 30px;

    color:#888;

    font-size:14px;

    line-height:1.5;
}


/* FORM */

.register-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.register-field{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.register-label{
    color:#bbb;

    font-size:13px;
}


/* INPUT */

.register-input{
    width:100%;
    height:50px;

    padding:0 15px;

    box-sizing:border-box;

    background:#08080c;

    border:1px solid #30303a;

    border-radius:10px;

    outline:none;

    color:white;

    font-size:14px;

    transition:.2s;
}

.register-input::placeholder{
    color:#555;
}

.register-input:focus{
    border-color:#ff2b82;

    box-shadow:
        0 0 0 2px rgba(255,43,130,.08);
}


/* REGISTER BUTTON */

.register-button{
    width:100%;
    height:50px;

    margin-top:5px;

    border:none;

    border-radius:10px;

    background:#ff2b82;

    color:white;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.2s;
}

.register-button:hover{
    background:#ff438f;
}


/* LOGIN */

.register-login-text{
    margin:25px 0 5px;

    text-align:center;

    color:#777;

    font-size:13px;
}

.register-login-button{
    display:block;

    margin:auto;

    border:none;

    background:transparent;

    color:#ff2b82;

    font-size:14px;

    cursor:pointer;
}


/* RESPONSIVE */

@media(max-width:500px){

    .register-page{
        padding:20px 15px;
    }

    .register-box{
        padding:30px 22px;

        border-radius:16px;
    }

    .register-title{
        font-size:28px;
    }

    .register-logo{
        font-size:21px;
    }

}